.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Accueil{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 100px;
}
.AlbumAccueil{
  display: flex;
  flex-direction: row;
  /* margin: auto; */
  width: 100%;
  justify-content: space-evenly;

  
  
  /* justify-content: space-between; */
}
.listeAlbum{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.Album{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* text-align: center; */
}
.AlbumInfo{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.AlbumCover{
  display: flex;
  width: 40%;
  background-color: red;
  /* text-align: center; */
  /* text-align: center; */
}

.listeCat{
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* text-align: center; */
}
.listeTitre{
  justify-content: right;
  background-color: aquamarine;
  width: 30%;
}

.listeCom{
  width: 100%;
}
.listeCom h3{
  text-align: center;
}
.Commentaires{
  margin: 0;
  margin: auto;
  width: 70%;
  align-items: center;
  justify-content: center;
}
.Commentaire{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}